/Assets/Firebase
/Assets/StreamingAssets
/Assets/Resources/pushNotificationsSettings.asset
/Assets/Resources/UnityPlayerAccountSettings.asset
/Assets/GoogleService-Info.plist
/Assets/google-services.json
/Assets/Plugins/Android/FirebaseApp.androidlib/res/values
/user.keystore
/Library